.Toolbar{
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ff6b6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav{
    height: 100%;
}

.Logo{
    height: 80%;;
}

@media (max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}