.Auth{
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
@media (min-width: 600px){
    .Auth{
        width: 500px;
    }
}
.ErrorMessage p{
    color: red;
}